body{
  margin:0;
  font-family:'Segoe UI', sans-serif;
  color:white;
  overflow-x:hidden;
  background: linear-gradient(to bottom, #ffffff, #e0f7ff, #b5e5ff);

min-height: 100vh;
padding-bottom: 2rem;
}

.App{
  text-align: center;
}
main{
  padding: 2rem
}
canvas{
  border-radius: 10px;
  margin-top:1rem;
}
@media screen and (max-width: 600px) {
  main {
    padding: 1rem;
  }


  canvas {
    width: 100% !important;
    height: auto;
  }

  h1, h2, h3 {
    font-size: 1.3rem;
    text-align: center;
  }

  .legendItem span {
    font-size: 0.85rem;
  }

  body {
    padding: 1rem;
  }

  .about-section,
  .uv-card {
    margin: 1rem 0.5rem;
    padding: 1rem;
  }
}
